.header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  height: 3rem;
  flex-basis: 40%;
}

.input {
  flex-basis: 100%;
  font-size: var(--fontsize-medium);
}

.logo {
  display: flex;
  align-items: center;
}
