.video {
  justify-content: flex-start;
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  width: 320px;
  margin: 30px 20px;
  cursor: pointer;
  transition: all 300ms ease-out;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}

.video.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title.list {
  white-space: normal;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video:hover {
  transform: scale(1.1);
}
