@import 'css/header.css';
@import 'css/nav.css';

:root {
  /* font-size */
  --fontsize-large: 2rem;
  --fontsize-medium: 1rem;
  --fontsize-small: 0.5rem;

  --image-size: 2rem;

  /* color */
  --red-color: #ff0100;
  --grey-color: #606060;
}

a {
  color: var(--grey-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

i {
  font-size: var(--fontsize-large);
  margin: 0 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
