body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

i {
  font-size: var(--fontsize-large);
  margin: 0 var(--marginsize-small);
}

a {
  color: var(--grey-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
:root {
  /* font-size */
  --fontsize-large: 2rem;
  --fontsize-medium: 1rem;
  --fontsize-small: 0.5rem;

  /* image-size */
  --image-size: 2rem;

  /* margin-size */
  --marginsize-small: 1rem;
  --marginsize-medium: 2rem;
  --marginsize-large: 3rem;

  /* color */
  --red-color: #ff0100;
  --grey-color: #606060;
}
@media screen and (max-width: 500px) {
  .list {
    display: flex;
    flex-direction: column;
  }
}
